[2018-03-23 20:53] DavidMStraub opened #1 "Fix unit tests after addition of new WET runner"
- [x] Add missing sectors (emuetau, all class IV sectors)
- [x] "module 'wilson.run.wet.adm' has no attribute 'adm_s_ds'"

[2018-03-23 20:53] DavidMStraub opened #2 "Implement flavio->JMS translator"
- [x] V semileptonic: Fierz -> JMS
- [x] V nonleptonic: Fierz -> JMS
- [x] V chrom: Fierz -> JMS
- [x] I: Bern -> JMS
- [x] II: Bern -> JMS

[2018-03-23 20:53] DavidMStraub opened #3 "Add numeric unit test of new WETrunner comparing to old one"

[2018-03-26 08:00] #1 closed, assigned to DavidMStraub

[2018-03-26 08:03] DavidMStraub opened #4 "Add purely leptonic LFV operators to flavio bases"
Sectors: mue, taue, taumu
EFTs: WET, WET-4, WET-3

Also: translator to & from JMS

[2018-03-26 19:45] #4 closed, assigned to DavidMStraub

[2018-04-08 16:10] #2 closed, assigned to DavidMStraub, jasonaebischerGIT

[2018-05-31 10:01] peterstangl opened #6 "Error in running of phiD Wilson coefficient"
When trying to run Wilson coefficients containing a non-zero value of `phiD`, I receive the following error I am not sure where it is coming from:

[code]

This error is generated by the following code:
[code]

[2018-05-31 10:07] peterstangl opened #7 "Error in running of phiWB Wilson coefficient"
When trying to run Wilson coefficients containing a non-zero value of `phiWB`, I receive the following error I am not sure where it is coming from:

[code]

This error is generated by the following code:
[code]

[2018-05-31 12:13] peterstangl commented on #6
Oh, yes, this makes totally sense, I forgot to fix the normalization...

However, I will keep the issue open as a reminder to perhaps catch the error and add a corresponding error message.

[2018-05-31 12:13] peterstangl commented on #7
Oh, yes, this makes totally sense, I forgot to fix the normalization...

However, I will keep the issue open as a reminder to perhaps catch the error and add a corresponding error message.

[2018-06-05 13:04] peterstangl commented on #6
The `NoConvergence` error actually also appears with far less crazily large WCs.

E.g.
[code]
and
[code]
yield an error when trying to run the WCs.

However, for slightly smaller or larger values
[code]
and
[code]
the optimization algorithm does converge.

Changing the algorithm in https://github.com/wilson-eft/wilson/blob/a4bb7946218e2f569470ff080e7ec28805d661c7/wilson/run/smeft/smpar.py#L68 from

[2018-06-20 13:54] DavidMStraub opened #8 "Sectors not respected when running not necessary"
When running or matching is not necessary, the input `WC` instance is returned:

https://github.com/wilson-eft/wilson/blob/a4bb7946218e2f569470ff080e7ec28805d661c7/wilson/classes.py#L88-L89

However in this case the `sectors` keyword argument is ignored, i.e. also Wilson coefficients from different sectors can be returned. This might not be what the user expects. Either the output coefficients sho

[2018-06-21 09:30] DavidMStraub commented on #6
Thanks, very interesting. I would avoid modifying the default chosen by scipy unless necessary, so indeed I think the best way to solve this would be to nest another `try ... except` into the original `except` that tries with `gmres`. Your examples could be added as unit tests.

[2018-07-06 05:32] jackypheno opened #9 "'An error on printing a WC with zero value'"
If we try to print a WC which has zero value, we get an error. It would be better if it returns zero instead of an error.

[2018-07-06 06:21] DavidMStraub commented on #9
Minimal example please.

[2018-07-06 06:39] jackypheno commented on #9
Here it is:

from wilson import Wilson
wc_dict =     {'lq1_3333': 2e-6, 'lq3_3333': 1e-6}
wc_in = Wilson(wc_dict,1000, 'SMEFT', 'Warsaw')
wc_out = wc_in.match_run(160, 'SMEFT', 'Warsaw')
print(wc_out.dict['ll_2333'])

this gives an error. Because in this case only ll_2233, ll_2332 and ll_3333 are generated at the EW scale and If you try to print out any other flavor combinations, you get an error,

[2018-07-06 07:04] DavidMStraub commented on #9
Thanks.

Note that `wc_out` is an instance of `wcxf.WC`, so this is actually the behaviour of `wcxf-python`, not `wilson`.

The `wcxf.wc.dict` method returns a dictionary containing only the non-vanishing WCs. This is intentional, as WCxf files should not contain thousands of vanishing entries. To get what you want you can just do

[code]
or more concisely

[code]

[2018-07-06 07:04] #9 closed

[2018-07-06 16:46] peterstangl commented on #6
I have solved this issue in PR #10.

The nested try/except construction may lead to a doubling of computing time. To see how often this actually happens, a warning is issued if the standard algorithm fails to converge. If this should happen frequently, the computational speed could be increased by always using the LGMRES algorithm.

[2018-07-06 17:08] peterstangl commented on #7
I have solved this issue in PR #11.

[2018-07-09 08:00] DavidMStraub commented on #7
Great, thanks!

[2018-07-09 08:00] #7 closed

[2018-07-09 08:01] DavidMStraub commented on #6
Perfect!

[2018-07-09 08:01] #6 closed

[2018-07-10 07:46] DavidMStraub opened #12 "Zero WCs should not run"
Regardless of basis or EFT, if all WCs vanish, no running is necessary and translation is trivial. This should be account for by wilson to speed up calculations in such cases (cf. https://github.com/flav-io/flavio/issues/46).

[2018-08-20 17:44] #3 closed

[2018-10-10 14:56] bednya opened #19 "WC normalization in Flavio->EOS conversion"
According to documentation on [Flavio](https://wcxf.github.io/assets/pdf/WET.flavio.pdf) and [EOS](https://wcxf.github.io/assets/pdf/WET.EOS.pdf) bases, the wilson coefficient "CVLLt_bscc" in Flavio basis should be equal to "b->s::c2" in EOS (after Fiertz rearrangement).

However, I've got a factor of 2 difference, e.g, "CVLLt_bscc"=1 leads to
"b->s::c2"=1 after indirect conversion via Flavio->JMS

[2018-10-10 20:13] DavidMStraub commented on #19
Hi,

thanks for this report. Actually, just because the operators are the same doesn't mean the Wilson coefficents have to be the same since you have to invert the matrix translating the operator bases. Nevertheless I do think there is a factor of  two wrong there somewhere. @dvandyk and @jasonaebischerGIT, could you please have a look as well?

D

[2018-10-11 08:32] DavidMStraub commented on #19
Thanks a lot for the checks. Yes, there does seem to be a mistake in the translations. It is a bit tedious to debug because, as currently implemented, there is another basis used as an intermediate step internally.

@jasonaebischerGIT and @dvandyk, I am extremely confident about the correctness of the Fierz/JMS/flavio translation functions as we scrutinized them a lot for the &epsilon;' project. S

[2018-10-11 09:56] dvandyk commented on #19
Have to find time to look at this. @cBobeth might be interested to look as well.

[2018-11-08 16:43] jasonaebischerGIT commented on #19
Dear all,
in the old version the implementation of the first two operators of the EOS basis was not correct, since I misunderstood the notation in the EOS Manual (eq. (5.6) in https://eos.github.io/manual/manual.pdf). I thought it to be a sum over the quark flavours u and c.
I removed the two up-type operators and derived again the basis change, which should now be correct.

[2018-11-08 19:49] DavidMStraub commented on #19
Thanks for fixing @jasonaebischerGIT!

Two final comments that the two of us realized in discussing this:
- EOS currently does not distinguish between NP in C<sub>1,2</sub> with up vs. charm flavour. This means that strictly speaking the operator they multiply is a linear combination of the up and charm operators weighted by CKM factors. In the translation, we actually neglect terms of order &lamb

[2018-11-08 19:49] #19 closed

[2018-11-22 16:55] klieret opened #21 "error: can't copy 'wilson/data/tests': doesn't exist or not a regular file"
Hi,

I'm trying to install the ``wilson`` package by ``sudo python3 -m pip install wilson``, but it fails with the following output:

[code]

This also occurs with ``easy_install``.

I also checked the previous versions but to no avail.

I suspect this is an issue with some other python dependencies (because it installs fine on my laptop)

Best regards,
Kilian

[2018-11-22 17:10] klieret commented on #21
Hi again,

after restarting the computer everything suddenly worked.

Sorry to have bothered you!

Cheers,
Kilian

[2018-11-23 08:13] DavidMStraub commented on #21
Hi Kilian,

thanks for reporting. This is a bit surprising since it never complained on my system but I do think there might be a problem in the setup script, namely the fact that [these globs](https://github.com/wilson-eft/wilson/blob/master/setup.py#L21-L24) catch also directories and not just files. I will fix it.

By the way, there is usually no reason to install the package as root and instal

[2018-12-06 09:18] #21 closed

[2019-01-23 16:18] klieret commented on #21
Hi @DavidMStraub ,

thanks for your reply and sorry for not following up on this before.

I am now again finding this error, when I try to install the `wilson` package in a virtual environment. This time the problem is reproducible:

[code]

again, this is what it shows:

[code]

It's really a bit mysterious.

Cheers,
Kilian

[2019-01-23 20:47] DavidMStraub commented on #21
Hi,

actually, no new version has been released containing the fix yet ... I guess I just forgot.

To make sure it will work, could you check installing in the venv directly from master?

[code]

[2019-01-24 10:39] klieret commented on #21
Hi David,

ah I see! Yes, no problems with the master version of the wilson package :+1:

Thanks for clearing that up!

Cheers,
Kilian

[2019-02-05 20:58] Element-126 opened #23 "`loop` argument not forwarded to `alpha_s` in `m_{b|c|s}`"
The `loop` kwarg in `m_b`, `m_c` and `m_s` from the `wilson.util.qcd` module is not forwarded to `alpha_s`, resulting in the default value `loop=3` always being used to evaluate the strong coupling constant.

This leads to a small discrepancy with respect to the Mathematica version of RunDec.

The tests in `wilson.util.test_qcd` currently only cover the default (`loop=3`) case.

Not sure if this i

[2019-02-06 08:24] DavidMStraub commented on #23
Hi, you are right and this is in fact not intentional.

[2019-02-06 08:38] Element-126 commented on #23
Okay, I will prepare a PR then. How can I run the test suite locally?

[2019-02-06 08:51] DavidMStraub commented on #23
Great. I was planning to release version 1.5 later today, do you think you can make it for that?

To run the tests, you need the `nose` package, then you can just run `nostests` in the source directory. (For development I would suggest to install the cloned repository in development mode with `pip3 install -e . --user`).

[2019-02-06 08:55] Element-126 commented on #23
Yes, I can surely make it. I already fixed the code, so I just need to write new tests with `loop != 3`. I am using `nose` as well, so there should be no technical difficulties here.

[2019-02-06 12:12] Element-126 commented on #23
There are still two failing tests, which give a slightly different answer from the Mathematica version. This might be an issue with my validation code. Hopefully I will figure it out today.

Partial progress here (do not merge yet): https://github.com/Element-126/wilson/tree/fix-23

[2019-02-06 13:09] Element-126 commented on #23
I have found what is causing the failures, but I am still not sure what is the proper way to fix it.
I'll read the relevant part of the RunDec paper again and this will hopefully clarify everything.

[2019-02-06 21:01] #23 closed

[2019-04-03 13:25] DavidMStraub opened #29 "Wrong translator for dipole operators to and from EOS basis"
See https://github.com/flav-io/flavio/issues/84

[2019-04-05 11:16] #29 closed

[2019-09-06 21:56] jackypheno opened #31 "Translation of bases does not work properly with "match_run" ."
# Take simple example:

wc_dict = {'qd1_1211':1e-6}

# Instantiate Wilson with eft='SMEFT'  and basis='Warsaw'
wc_in = Wilson(wc_dict, 1e3, 'SMEFT', 'Warsaw')

# Use the 'match_run' to translate the wilson coefficients to 'Warsaw up' basis keeping the output scale same :
wc_out = wc_in.match_run(1e3, 'SMEFT', 'Warsaw up')
print(wc_out)

The output is:

## WCxf Wilson coefficients

**EFT:** `SMEFT`

[2019-09-06 22:13] jackypheno commented on #31
My guess is

https://github.com/wilson-eft/wilson/blob/fb2cf94aab283edd1868500b4bf22e8d24c69d07/wilson/classes.py#L197

should be replaced by

`wc_out = smeft.run(scale, accuracy=smeft_accuracy).translate(basis)`

[2019-09-07 08:49] DavidMStraub commented on #31
Thanks Jacky, and you are right about the solution! Do you want to fix it in a PR? It might also make sense to add your minimal example above as a unit test.

[2019-09-07 12:36] jackypheno commented on #31
Hi David,
I created a pull request to fix it. Yes it's a good idea to add the unittest. I will do it.

[2019-09-09 20:26] jackypheno opened #33 "Superfluous rotation?"
In SMEFT class, the attribute self.C_in is already https://github.com/wilson-eft/wilson/blob/fb2cf94aab283edd1868500b4bf22e8d24c69d07/wilson/run/smeft/classes.py#L62  in the 'wcxf warsaw basis' .

Now, after the running(say down), why *another*  rotation is made here
https://github.com/wilson-eft/wilson/blob/fb2cf94aab283edd1868500b4bf22e8d24c69d07/wilson/run/smeft/classes.py#L214 ?

[2019-09-10 12:23] DavidMStraub commented on #33
Hi,

which rotation are you referring to? The function `_to_wcxf` takes a dictionary of arrays (`Cout`) and takes it to a flat dictionary of numbers. Is there an erroneous rotation somewhere?

[2019-09-10 12:40] jackypheno commented on #33
Yes, but `_to_wcxf`  also makes a rotation  https://github.com/wilson-eft/wilson/blob/fb2cf94aab283edd1868500b4bf22e8d24c69d07/wilson/run/smeft/classes.py#L86.

So when it is called here https://github.com/wilson-eft/wilson/blob/fb2cf94aab283edd1868500b4bf22e8d24c69d07/wilson/run/smeft/classes.py#L214,
it rotates `C_out` which I do not understand, because `C_out` here is already in the `wcxf Warsa

[2019-09-10 12:48] DavidMStraub commented on #33
Oh, very good point. I think this is correct because the RG running can make a re-rotation necessary, see e.g. [here](https://phys.davidstraub.de/wcxf-the-wilson-coefficient-exchange-format/):

Let me know in case you still think there is a problem (could be).

[2019-09-18 16:57] jackypheno commented on #33
Hi David,

Yes, I think it make sense to rotate it back after running to WCxf basis to get the output in this basis.

Also, to match it to WET at the electroweak scale, the weak basis of SMEFT has to be specified. So again a rotation is required.

Still, I am making few numerical checks, so please keep the issue open if possible.

While checking this I notice that for a solution to the RGEs in the

[2019-09-18 21:46] DavidMStraub commented on #33
I think I agree in the sense that the choice of the scale where the SM parameters are evaluated is an effect beyond the leading-log approximation. So taking them at the high scale of the low scale I guess is both equally justified. But what the scale `_run_sm_scale_in` does (apart from running the SM parameters) is also calculating the shift in the SM parameters due to dimension 6 contributions, w

[2019-09-19 18:14] jackypheno commented on #33
I agree that we can use the SM parameters at  high or low scale as long as they are in the correct basis.

So, I am Ok with the `_run_sm_scale_in` and even `_get_sm_scale_in`. As the later function provides us the SM parameters (ignoring the running of wilson coefficients) at the input scale in the Warsaw-down basis. This is perfect.
But, when we use the `run` function, it runs both the *SM parame

[2019-09-19 18:30] jackypheno commented on #33
I think the SM key should be excluded in the loop here

https://github.com/wilson-eft/wilson/blob/fb2cf94aab283edd1868500b4bf22e8d24c69d07/wilson/run/smeft/rge.py#L18

[2019-09-19 19:13] jackypheno commented on #33
Ah.. you are right, what if psi^2 phi^3 wilson coefficients are zero. In that case the running is entirely due to the SM right?

[2019-09-20 07:10] DavidMStraub commented on #33
In that case the re-rotation (if any) is due to leading-log contributions to SM Yukawas. But this is something else than SM Yukawa contributions to the running of dim-6 WCs.

Your above statement

is correct I think, in the sense that the change of SM parameters is not taken into accuont *in the beta functions of WCs*. Similarly, the WCs themselves are treated as constant in the running in a sense

[2019-09-24 08:50] DavidMStraub opened #34 "WET symmetrization missing in SMEFT matching"
It was realized that the WET Wilson coefficients in https://arxiv.org/abs/1709.04486 are not in the same convention as in https://arxiv.org/abs/1711.05270: namely, they are not symmetrized in the same way as  the operators. Since this is currently not taken into account, some of the matching is inconsistent.

[2019-09-26 17:12] DavidMStraub commented on #31
Fixed by #32.

[2019-09-26 17:12] #31 closed

[2019-10-24 16:27] DavidMStraub opened #36 "2.0"
@jasonaebischerGIT, @jackypheno, I would like to release a new version and I suggest to tag it 2.0 (given the major new feature of the 1-loop matching). Is there anything you still want me to wait for before tagging the release (e.g., #33)?

[2019-10-24 17:02] jackypheno commented on #36
Dear David,

Please go ahead. I did not get chance to think on your comments on #33 . But I will do so eventually.

Best regards,

[2019-10-24 17:02] jasonaebischerGIT commented on #36
Thanks a lot for the work David! Very impressive!

[2019-10-24 18:33] peterstangl commented on #36
If `wcxf-python` might be merged into `wilson` soon, this will probably be a new major version (at least if backward compatibility should be broken). Is it realistic to do this already for 2.0?

On the other hand, it might be possible to keep backward compatibility by merging `wcxf-python` into `wilson` such that `wilson` doesn't depend on `wcxf-python` anymore, but still keeping the standalone pa

[2019-10-30 11:51] DavidMStraub commented on #36
FYI, after merging the wcxf PR #37, I will add one more SMEFT translator (Higgs basis for the Higgs paper) and then plan to release 2.0, maybe tomorrow.

[2019-10-31 12:22] DavidMStraub commented on #36
Done. Will release soon.

[2019-10-31 12:22] #36 closed

[2019-11-11 23:36] peterstangl opened #38 "SMEFT running with user-defined SM parameters"
I would like to run SMEFT Wilson coefficients together with user-defined SM parameters, i.e. I don't want to use iteratively determined SM parameters but provide them myself at the high new physics scale. However, if one provides user-defined SM parameters to a `Wilson` instance `w` using
[code]
these parameters will only be used for translating to another SMEFT basis (where the CKM elements are u

[2019-11-12 18:54] peterstangl commented on #38
Related to this, I noticed that there are two sets of default SM parameters:
- Parameters defined at `M_Z`:
https://github.com/wilson-eft/wilson/blob/b410f11fbeb6d089f36a83e7ad92f83074f5eb3c/wilson/run/smeft/smpar.py#L13-L35
- "Physical" parameters defined at various scales (missing `m_t`):
https://github.com/wilson-eft/wilson/blob/b410f11fbeb6d089f36a83e7ad92f83074f5eb3c/wilson/parameters.py#L1-L

[2019-11-13 08:54] DavidMStraub commented on #38
Yes, indeed you are touching on some of the problems of wilson.

The historic reason for most of this mess is that it started out as several different packages (`python-dsixtools`, `python-wetrunner`, ...) which after the merger were only partially harmonized; and most of this was written even before the advent of WCxf.

So, indeed the main problem here I think are the two different sets of parame

[2020-02-02 12:16] peterstangl opened #40 "Real Wilson coefficients become complex after running"
Wilson coefficients of hermitian operators that should be real still become complex numbers after running. As far as I see, this is only a numerical issue and the imaginary parts are extremely small and basically zero.

However, the fact that the type of these coefficients becomes complex has the effect that some observables in flavio become complex numbers, too. In particular, the observables def

[2020-02-02 12:36] DavidMStraub commented on #40
I agree 100%. It's indeed the concern about speed why we didn't implement chopping unphysical imaginary parts, but one should consider it. (BTW this is currently not even checked on validation, see https://github.com/wcxf/wcxf-python/issues/10 which should probably be moved here.)

But indeed independently of a solution in wilson, this should be handled in flavio by discarding the imaginary part.

[2020-02-03 17:29] peterstangl commented on #33
@jackypheno, I remember we discussed this and agreed that the current implementation is fine, right? So can this issue be closed or is there still a problem?

[2020-02-03 20:05] jackypheno commented on #33
@peterstangl @DavidMStraub

Yes, I am closing the issue.

[2020-02-03 20:05] #33 closed

[2020-03-05 11:15] dvandyk opened #41 "SMEFT matching does not use 1-loop code when changing the default value of the 'loop_order' parameter"

[2020-03-06 13:41] dvandyk commented on #41
Fixed through #42

[2020-03-06 13:41] #41 closed

[2020-07-07 15:49] haolinli1991 opened #44 "scipy.optimize.newton_krylov failed for very small wilson coefficient"
Hi,
I encounter a problem when use Wilson matching and run the SMEFT parameter.

Following code will generate error
`smeft_input = {"phil3_12": 1/((2000.)**2)}
   w = Wilson(smeft_input,scale = Lambda,eft = 'SMEFT', basis = 'Warsaw')
    w.set_option('smeft_accuracy','leadinglog')
    wc = w.match_run(scalein,'WET','flavio')
`

:
/home/haolinli/.local/lib/python3.6/site-packages/scipy/optimize/non

[2020-07-07 16:24] DavidMStraub commented on #44
It's simply an unphysical point in WC parameter space.

[2020-07-07 16:54] haolinli1991 commented on #44
OK, I see, it will destabilize the Higgs potential generating a positive C['phi']. Thanks a lot

[2020-07-07 17:26] #44 closed

[2020-09-14 16:06] tarendo opened #45 "Discrepancy between Dekens/Stoffer and Wilson"
When studying SMEFT influence on bs->mumu with @dvandyk we realized that the one-loop matching of certain four-fermion operators behaves differently in Wilson than in the Dekens/Stoffer mathematica code. Let us for example look at how the the SMEFT operator (in Warsaw Up basis) qq1 with indices (ii33) and (33ii) matches onto the WET operator (in JMS basis) VedLL with indices (2223).

According to

[2020-09-14 16:34] DavidMStraub commented on #45
Without looking at this in detail, I almost bet it is just a convention issue. Can you please look at appendix A.2 of https://arxiv.org/pdf/1810.07698.pdf and tell me if that solves your issue.

[2020-09-20 15:16] dvandyk commented on #45
Dear @DavidMStraub, @peterstangl,

this is just to inform you that we are still looking into this. It's a bit puzzling to me.
The appendix that David provided clears up that in matching and running you switch
from the non-redundant basis to the redundant basis. This seems to be done in a 'symmetrize' function.

However, our problem appears to come from the operator with index 3333. In Dekens/Stoff

[2020-09-20 22:22] DavidMStraub commented on #45
The `qq1_1133` and `qq1_2233` coefficients differ by a factor 2 between the redundant and non-redundant conventions, while `qq1_3333` doesn't, so it makes total sense.

You should start with

[code]

[2020-09-21 07:20] dvandyk commented on #45
Thanks David, I had misunderstood the appendix. I had understood Wilson applied the symmetry factor internally before the matching (and was looking for it in the symmetrization functions), and removed it again after.

[2020-09-21 17:22] DavidMStraub commented on #45
Yes, it is.

WCxf input: non-redundant basis.
Running: redundant (symmetrized) basis
WCxf output: non-redudant basis

My point was that the GIM cancellation mentioned by @tarendo holds in the redundant (symmetrized) basis, so to see it in Wilson, one has to start with 2-2-1 (in the non-redundant basis) rather than 1-1-1.

[2020-09-23 03:05] haolinli1991 opened #46 "Does not match with the formula (A.55) in arxiv:1310.4838"
https://github.com/wilson-eft/wilson/blob/65ee5f39895bb3d65d3a1deb8e3303733702a6d8/wilson/run/smeft/beta.py#L1649

The line 1649 and line 1651 in beta.py seem to have the reversed factors of gammaq and gammad compared with the 3rd last and the last terms in formula  A.55 in arxiv: 1301.4838

Do you have any idea which one is correct?

Best,
Haolin

[2020-09-23 08:32] DavidMStraub commented on #46
Ours.

Actually, it agrees if you check the most recent arXiv version.

I pointed out this mistake to the authors.

[2020-09-23 11:34] haolinli1991 commented on #46
Great, Thanks very much

[2020-09-23 17:17] #46 closed

[2020-09-30 11:03] peterstangl opened #47 "Installation fails on Chinese version of Windows"
On a Chinese version of Windows, installation fails with the following error:
[code]
It looks like the problem is caused by `setup.py` reading the file `README.md`, which is utf-8 encoded. In particular, the en dash at position 272 of that file is a multibyte character that is not properly decoded. I assume that this problem can be fixed by explicitly specifying the file encoding when opening the

[2020-09-30 12:12] DavidMStraub commented on #47
Wow, this comes as a shock to me, Python does *not* use UTF-8 by default for `open` :open_mouth:

[2020-09-30 12:25] peterstangl commented on #47
It probably uses the default encoding of the operating system, which on (at least some) Chinese versions of Windows seems to be GBK instead of UTF-8 (https://en.wikipedia.org/wiki/GBK_(character_encoding))

[2020-09-30 12:34] peterstangl commented on #47
see also https://discuss.python.org/t/pep-597-use-utf-8-for-default-text-file-encoding

[2020-09-30 14:27] peterstangl commented on #47
The person who has reported the problem has downloaded the `wilson` source, modified `setup.py` as suggested, and was able to install the package. I have implemented this modification in PR #48.

[2020-09-30 14:50] DavidMStraub commented on #47
Fixed by #48.

[2020-10-12 15:25] peterstangl opened #49 "Problem determining Higgs potential parameters even for negligilbe value of SMEFT coefficient `phil3`"
As pointed out by @Joro20 in https://github.com/flav-io/flavio/issues/121, the determination of of the SM parameters fails for a non-zero value of the WC `phil3`. This problem seems to be unrelated to the size of the WC since even for negligible values like `1e-50`, an error is generated. I have checked that this is the case for any flavour indices of `phil3`. The error can be reproduces by
[code]

[2020-10-12 15:27] DavidMStraub commented on #49
Oops :hand_over_mouth:

[2020-10-19 14:47] dvandyk commented on #45
@DavidMStraub Thanks for your help, much appreciated!

[2020-10-19 14:48] #45 closed

[2020-10-19 15:06] dvandyk opened #50 "SMEFT matching @ 1-loop: problem with dG"
When comparing with Sebastian Bruggisser (@tarendo) for a joint project, we noticed the following peculiarity in the wilson code for SMEFT(Warsaw up) on WET(JMS) matching:

[code]

I would claim that this is incorrect for the following reason:
 - the left-hand side is a 3x3 matrix with indices p and r
 - the term on the right-hand side is a 3 vector with index r

Unfortunately, this does not produ

[2020-10-19 17:38] DavidMStraub commented on #50
Could be, but did you check the corresponding Mathematica expression from D & S to be sure?

[2020-10-20 08:07] dvandyk commented on #50
The corresponding Mathematica expression in D&S is a 3x3 matrix, since 'p' and 'r' are external indices, which are not summed over.

We found this while investigating some oddities with respect to ```phiq1_pr```, but first wanted to discuss the simplest case.

[2020-10-20 12:09] tarendo commented on #50
As Danny mentioned we were originally interested in phiq1, where I think the situation is slightly more involved, as there are much more indices. The contribution to c['dgamma'] and c['dG'] of phiq1 (and some of the phiq3 terms, with phiq1 replaced by phiq3 obviously) is given as:

<python>
C['dG'] = ... + ...*einsum("r,vr,pz,zv",md,V,Vdag,C["phiq1"])/.. + ...
<python>

which again returns a 3 vec

[2020-10-21 07:48] Joro20 commented on #49
Hello, is there any solution to this issue ?

[2020-10-21 07:50] DavidMStraub commented on #49
I don't have time to look into it currently.

[2020-10-21 11:17] dvandyk commented on #50
@DavidMStraub @jasonaebischerGIT @peterstangl please have a look at PR #51.

[2020-10-21 15:42] DavidMStraub commented on #50
Is there any way this can be checked or shall it just be merged as-is?

[2020-10-22 09:19] dvandyk commented on #50
Please do not merge yet. We have identified further problems while attempting to create a unit test, matching the D/S results to wilson's. We think that in the translation from the Mathematica code to Python code terms that involve ```kd[pi, ri] md[pi]``` have been mistranslated. The D/S term is a diagonal matrix with the down-type masses on the diagonal. The Wilson code reads:
[code]
which is non

[2020-10-23 09:48] peterstangl commented on #50
@DavidMStraub do you still have the script for translating the Mathematica expressions into Python code? I would also take a look at this issue and the translation script would be very helpful.

[2020-10-23 11:27] DavidMStraub commented on #50
Unfortunately not. AFAIR, this was done with regexes in an editor and using the existing tree-level matching implementation as a unit test (which does not guard against errors in the 1-loop terms obviously).

The notation of D & S for masses is really ~~stupid~~ unfortunate.

[2020-10-25 15:54] dvandyk commented on #50
Understood! I have adjusted my commit in [dvandyk/wilson#issue50](https://github.com/dvandyk/wilson/tree/issue50). I have also added test cases for
```phid```, ```phiq1``` and  ```phiq3```.

Well, we have to deal with it now as it is.

@tarendo Would you please check that my test cases coincide with your version of the D/S notebook?
I'd like to have an independent test, in case I messed this up.

[2020-10-26 20:34] tarendo commented on #50
@dvandyk I agree with your tests. Except for the small O(1e-22) imaginary parts. They seem to be numerical artefacts though and I would not worry about them (given that the leading real part is orders of magnitudes larger).

[2020-10-28 09:14] dvandyk commented on #50
@DavidMStraub @peterstangl @jasonaebischerGIT I have updated the commit with further test cases.
Please merge. Thanks to @tarendo for doing the brunt of the work!

[2020-10-28 12:14] DavidMStraub commented on #50
This should be merged by a professional.

[2020-10-30 16:37] #50 closed

[2020-11-09 17:15] JoseEliel opened #52 "Determining m^2 and lambda from Wilson Coefficients allowed in global fits in the literature fails"
Turning on only some WC's from the Higgs sector (e.g. 'phi', 'phiD', and 'phiBox') and choosing values within allowed ranges in e.g. https://arxiv.org/abs/2007.01296 leads to a crash.

The function 'vMh2_to_m2Lambda(v, Mh2, C)' throws the exception:
"No solution for m^2 and Lambda found. This problem can be caused by very large values for one or several Wilson coefficients."

I think the numerical

[2020-11-19 17:03] peterstangl commented on #52
@JoseEliel can you maybe provide a small example code that produces the error? And (if it's not too big) can you also show how you fixed it using `scipy.optimize.basinhopping`?

[2020-11-19 17:16] JoseEliel commented on #52
`scipy.optimize.basinhopping` turns out it was taking a long time and often did not converge or gave a pretty bad solution.
I have now instead implemented a similar workaround using scipy.optimize.minimize instead.
It avoids issues by not necessarily finding a spot-on solution with the exact Higgs mass or VEV, but to my current need, it is good enough. In my tests, it outputs good points, but it d

[2020-11-19 17:20] peterstangl commented on #49
This seems to be related to issue #40. The coefficients entering in `wilson.run.smeft.smpar.m2Lambda_to_vMh2` (see below) can get small imaginary parts.
https://github.com/wilson-eft/wilson/blob/1cfb40777822cfb03d04bf37f39ece52082d8745/wilson/run/smeft/smpar.py#L38-L48

The issue is fixed by using only the real values, i.e.
[code]

[2020-11-19 19:28] DavidMStraub commented on #49
Oh, good point! :+1:

[2020-11-25 05:13] jasonaebischerGIT opened #54 "Running of egamm_22"
I am getting wrong results when running for example egamm_22 from 60 GeV to 2 GeV. Might be related to a wrong ADM.

[2020-12-13 03:20] jasonaebischerGIT opened #55 "running wrong"
when running lequ1_2233 = 1/160**2 in the warsaw basis from from 160 GeV to 60 GeV the output of lequ1_2233 is wrong by several orders of magnitude

[2020-12-13 03:43] jasonaebischerGIT opened #56 "SM pieces in 1loop matching"
One should be able to choose to include the SM 1loop matching contributions or not.

[2020-12-15 10:55] JoseEliel opened #57 "Possible bug in Higgs mass calculation"
In the function m2Lambda_to_vMh2 (defined in line 38 of smpar.py) the Higgs mass formula

[code]

seems to have a typo. Comparing with the expression from https://arxiv.org/abs/1704.03888, there should be a Lambda^2 term in the factor multiplying the second parenthesis, i.e. it should be

[code]

[2020-12-15 11:07] DavidMStraub commented on #57
Oh. I don't see why this would *not* be a bug, indeed.

Does changing that solve #52?

[2020-12-15 11:15] JoseEliel commented on #57
No, I have just checked. I think they are unrelated issues.

[2020-12-15 11:21] DavidMStraub commented on #57
Waiting for @peterstangl or @jasonaebischerGIT to confirm.

Then it would be great if you can submit a PR (but please use `**2`, this is not Fortan :wink:)

[2020-12-15 11:29] JoseEliel commented on #57
I will. Good point on `**2`, I'm often writing C++ (luckily not Fortran 😉 ), so that's where that came from.

[2020-12-15 15:48] jasonaebischerGIT commented on #57
I agree, this formula is correct.

[2020-12-17 12:39] peterstangl commented on #52
I think one big problem here is how `vMh2_to_m2Lambda` determines the parameters `m2` and `Lambda`. It compare the values of `v` and `Mh2` as computed by `m2Lambda_to_vMh2` to the values in the SM, where `Mh2` is an input parameter and `v` is related to the input parameter `GF`. However, in the presence of a non-zero `C['phi']`, the relation between `v` and `GF` is modified and this modification i

[2020-12-17 13:26] peterstangl commented on #52
I find the analytical expressions
[code]
where
[code]
I think it would be good if someone (e.g. @jasonaebischerGIT :slightly_smiling_face:) could check this, especially the Cv since what I have might be the relation in a redundant basis...

[2020-12-17 13:41] DavidMStraub commented on #52
I remember that linearization was not possible, so don't invest much time now ... will answer in more detail later when I have time (and if I remember ...)

[2020-12-21 15:01] JoseEliel commented on #57
I've made the pull request.

[2020-12-21 18:18] jasonaebischerGIT commented on #57
The check from travis seems to have failed. Not sure what the origin of this is...

[2020-12-22 08:23] celis commented on #57
from the travis logs it seems one needs to reduce the numerical accuracy (places argument) required in the assertAlmostEqual method.

[2020-12-29 23:18] peterstangl commented on #57
This issue should be solved by the new PR #59 and I think PR #58 can be closed.

BTW: Fortran actually *does* implement the `**` exponentiation operator. So this seems to be just an issue with C/C++ :wink:
(that's why one can get relatively nice expressions that work in Python from Mathematica's `FortranForm`)

[2020-12-29 23:21] peterstangl commented on #52
OK, i've implemented it now without linearization in PR #59. I think this should solve the issue.

[2021-01-04 13:32] peterstangl commented on #49
Fixed by PR #53.

[2021-01-04 13:32] #49 closed

[2021-02-03 14:03] jasonaebischerGIT commented on #57
Closing this issue, which is resolved by PR #59.

[2021-02-03 14:03] #57 closed

[2021-02-03 14:04] jasonaebischerGIT commented on #52
Closing this issue as it is addressed in PR #59.

[2021-02-03 14:04] #52 closed

[2021-02-10 11:25] xmarcano opened #63 "random sign flips after RGEs"
We are using the wilson.match_run function to obtain the low-energy values of some Higgs-lepton and 4-lepton WCs, however we do not understand the sign of the output WCs. They seem random and don't make much sense to us.

For example, starting with phil1_13=+1 at 1TeV and running it a bit down to 999GeV, we obtain phil1_13~+0.9997. Nevertheless, if we start with phil1_13=-1, we get again +0.9997,

[2021-02-10 11:57] DavidMStraub commented on #63
Please paste your code as code block, not as PDF. This makes it impossible to copy & paste.

[2021-02-10 14:22] xmarcano commented on #63
sure, here it goes the part I was mentioning:

e-tau sector (always + sign from RGEs):
[code]
[code]

mu-tau sector (RGEs preserve sign):
[code]
[code]

e-mu sector (RGEs flip sign):
[code]
[code]

[2021-02-10 18:30] DavidMStraub commented on #63
Thanks.

So, the answer is: yes, the sign is essentially random, but unphysical.

What happens is that, after running, the fermion masses need to be rediagonalized to go the SMEFT Warsaw basis as defined in WCxf (see the WCxf paper for details). The code for it is here:

https://github.com/wilson-eft/wilson/blob/master/wilson/run/smeft/classes.py#L125-L142

Now, what happens is that the matrices `

[2021-02-10 18:31] DavidMStraub commented on #63
I could be wrong of course, so curious to hear your opinion :slightly_smiling_face:

[2021-02-12 09:28] xmarcano commented on #63
Hi David, thanks for the detailed explanation.

If the sign comes from the rediagonalization, I agree with you. It should be unphysical and consistent even if several WCs interfere for a given observable.

Thanks!

[2021-02-12 09:28] #63 closed

[2021-02-12 18:16] TomSteu opened #64 "Improve code documentation"
Dear wilson contributor,

I found that the publication arXiv:1804.05033 is insufficient as a documentation of the wilson package.
In particular, it provides little information about how the code is organised, what the idea behind the modular structure is and how these parts interact.
An automatically generated code overview is no replacement for a proper documentation. Asking the user to read the

[2021-02-13 11:36] DavidMStraub commented on #64
Sorry, clicked the "close" button only accidentally.

First of all, yes, you are right, the documentation is lacking.

Secondly: I don't like your condescending tone. "Bad approach to software development" and all that. This is an open source package. You are very much welcome to contribute to it - including to its documentation!

Yes, the publicly documented API - which is ineed only the `Wilson`

[2021-02-13 14:48] TomSteu commented on #64
Dear David,

Let me start by apologizing for my wording, I might have been pretty frustrated yesterday evening after what I thought would be a quick check using the package turned into an hours-long adventure.
Anyways, this was not the kind of message I would have wanted to find in my inbox. It is easy to forget that behind these small projects are only very few people, so criticism is bound to be

[2021-02-13 15:48] DavidMStraub commented on #64
Yes, fully agree, thanks.

By the way, just to clarify: I am not a maintainer or regular contributer to this package anymore, but I answered because I am certainly among those responsible for the lacking documentation.

[2021-02-13 18:46] peterstangl commented on #64
@TomSteu just a small comment from someone how is neither maintainer nor original author of this package but has contributed some code and is familiar with it:
I agree that there might be many things one would want to use this package for that go beyond its public and documented part, which is only the  `Wilson` class and its `match_run` method. But before getting frustrated by the lack of documen

[2021-02-15 18:44] jasonaebischerGIT commented on #64
Hi Tom,

concerning your comment, I agree that wilson lacks proper documentation. @jackypheno and I are actually planning on writing a thorough documentation, including the full functionality of wilson, its structure, use cases etc, which hopefully might become useful for users like yourself.

In the meantime, if you have any specific questions, feel free to open an issue on a particular problem y

[2021-02-15 22:15] TomSteu opened #65 "Question: How to get direct access beta functions?"
Dear wilson contributors,

I was wondering if there is a straightforward way to directly access the values of SMEFT (and other basis) beta functions?
The reasoning behind this is to test if a set of Wilson coefficients is closed under RG running (without checking all expressions by hand).
For such a test it would suffice to give the relevant WCs some value (e.g. 1) while setting the rest to zero,

[2021-02-15 22:21] TomSteu commented on #64
Dear all,

thank you for your comments and please excuse my initial rant. I am not used to github issues being used for asking questions about how to use a code, but I welcome this approach! I have opened the issue #65 in this regard.

best wishes,
Tom

[2021-02-16 07:40] DavidMStraub commented on #65
The beta functions of all WCs can be evaluated numerically with this function:
https://github.com/wilson-eft/wilson/blob/master/wilson/run/smeft/beta.py#L37

But what's important is that the WCs in the input array are *not* in the WCxf convention, but they are using a symmetrized flavour basis (see appendix A.2 of https://arxiv.org/pdf/1810.07698.pdf for a discussion) following the conventions of

[2021-02-17 09:24] TomSteu commented on #65
Very good, this worked out!
I did end up using the `get_smpar=True` keyword in `SMEFT`, which means the WCs had to be chosen smaller than I anticipated in my initial comment. But in the end, the coefficients switched on by the running could be read-off nevertheless.

[2021-02-17 09:24] #65 closed

[2021-02-17 18:22] jasonaebischerGIT commented on #64
Dear Tom,

very good, thanks a lot! I will close this issue now.

[2021-02-17 18:22] #64 closed

[2021-02-18 11:32] JoseEliel opened #66 "The case of lambda < 0 and m2 < 0 (and Cphi < 0)"
Thanks for the recent updates on the lambda and m2 routines. It has been very helpful.
I wanted to raise an issue related to https://github.com/wilson-eft/wilson/pull/62 (I saw it was closed).

When solving the minimization conditions, one gets two solutions,
 v2 = ( Lambda - sqrt(sqrt_arg) )/( 3 * Cphi )
or
v2 = ( Lambda + sqrt(sqrt_arg) )/( 3 * Cphi ).

The code takes the first one. However,  fo

[2021-02-18 12:01] JoseEliel commented on #66
Ignore the message above. While both solutions are positive, only one corresponds to a minimum and it turns out to be the one with -.

[2021-02-18 12:01] #66 closed

[2021-02-23 13:54] peterstangl opened #67 "New version of wilson on PyPI not working"
@jasonaebischerGIT unfortunately the new version of `wilson` released today on PyPI is not working. The problem seems to be a missing `wcxf-bases` subrepository from https://github.com/wcxf/wcxf-bases that should be contained in the `wilson/wcxf/bases/` folder.

Apart from that, the new version number on PyPI (2.0.1) does not match the latest version number on GitHub (2.1).

[2021-02-23 19:00] DavidMStraub commented on #67
`_version.py` must be edited to match the version number.

The missing bases are probably due to not cloning with `git clone --recursive` (although in that case unit tests will fail as well).

[2021-02-24 08:11] jasonaebischerGIT commented on #67
The version number is now changed.
And I guess `git clone --recursive` also did the trick.

[2021-02-24 18:26] Stefan-Bissmann opened #68 "Question: Matching SMEFT and WET at one loop"
Dear all,
we currently want to use wilson to test our results from our implementation of the matching between SMEFT and WET (especially the flavio basis). However, I ran into some issues and would like to ask whether it is just me not understanding how to use wilson correctly.
So, the example is the following:  Say that we want to match 'CuG_33' to 'C8_bs' and as a cross check to 'CdG_23' (in the

[2021-02-24 18:48] DavidMStraub commented on #68
Hint: you can enclose inline code in  \` and display code blocks in \`\`\`python ... \`\`\` to make it more readable.

[2021-02-24 18:58] DavidMStraub commented on #68
I agree with your conversion factor but disagree with there being a discrepancy. Can you check your numerics?

[2021-02-24 19:07] Stefan-Bissmann commented on #68
Thanks a lot for the fast reply!
So, for you everything is just fine when comparing both bases (the results from wilson)?

[2021-02-24 19:10] DavidMStraub commented on #68
I'm too lazy to look up the right values, but using rough values I get:

[code]

The result is `(-0.029003550946260098+0.000543143668753945j)`.

[2021-02-24 19:12] Stefan-Bissmann commented on #68
Ok, then it might just be some issue with my numerics. Just wanted to check that I did not mess up anything.
Thank you so much for the fast help! It is much appreciated.

[2021-02-24 19:12] #68 closed

[2021-02-25 16:54] peterstangl commented on #67
Great, thanks @jasonaebischerGIT! I can confirm that the problem is solved (the Travis checks in flavio are working again) :grinning:

[2021-02-25 16:54] #67 closed

[2021-04-13 11:00] sbruggisser opened #70 "Definition of Bern basis"
Dear Wilson Team,

@dvandyk and myself are matching the SMEFT onto the WET in the Bern basis and we found a discrepancy between the definition of the Bern basis in the WCXF convention and the implementation in the /translate/wet.py implementation. In the WCXF convention files the four-fermion operators in the Bern basis are defined with a factor of 4GF/\sqrt{2} whereas in the JMS basis they are de

[2021-04-13 11:37] sbruggisser commented on #70
Sorry, found the corresponding implementation.

[2021-04-13 11:37] #70 closed

[2021-06-24 18:34] mdgoodsell commented on #54
Has there been any response to this? I find that C7_mumu varies by 48% when I use match_run from the WET at the Z mass to 1 GeV in WET-3, or about the same even just in the WET.

[2021-06-24 19:35] DavidMStraub commented on #54
What is the actual problem?

[2021-06-25 08:19] mdgoodsell commented on #54
I'm inputting values for eB_22 and eW_22 in the SMEFT at some scales, then using match_run to run C7_mumu down to 1 GeV (below is not possible). But I can reproduce the problem just in the WET with:

upval=1.0e-5 ### or whatever
my_w = wilson.Wilson({'egamma_22': upval},
                         scale=80.0, eft='WET', basis='JMS')
wc = my_w.match_run(scale=1.0, eft='WET', basis='JMS')
downval=wc['

[2021-06-29 16:56] jasonaebischerGIT commented on #54
Hi @mdgoodsell ,
thanks a lot for your comment and explanation! I experienced similar problems but have not found the reason for it yet.
I will have a closer look into it.

[2021-07-13 15:54] jackypheno opened #72 "Redundant operators"
I think, since the Wilson coefficient ll_ijji and ll_iijj are related through Fierz, one of them should be removed from the Warsaw basis:

https://github.com/wcxf/wcxf-bases/blob/429bcbf1f2b9fc80f488ffd88b5e497f7dd4a3e2/smeft.warsaw.basis.yml

[2021-07-13 15:58] jasonaebischerGIT commented on #72
Yes, I agree. Thanks for bringing it up!

[2021-07-13 15:58] DavidMStraub commented on #72
But if you Fierz them, you'll have different SU(2) contractions.

[2021-07-13 15:59] DavidMStraub commented on #72
Note: the number of real parameters in this basis has been checked to be 2499. So if there are redundant operators, also https://arxiv.org/pdf/1312.2014.pdf is wrong.

[2021-07-13 16:55] jasonaebischerGIT commented on #72
Yes, David is right; Say we compare ll_1122 and ll_1221 (dropping gamma matrices for simplicity):

1122:
(nu_e nu_e)[(nu_mu nu_mu) + (mu mu)] + (e e)[(nu_mu nu_mu) + (mu mu)]

1221:
(nu_e nu_mu)[(nu_mu nu_e) + (mu e)] + (e mu)[(nu_mu nu_e) + (mu e)]

One can never bring one in the form of the other using Fierz relations.

[2021-07-13 17:24] jackypheno commented on #72
@DavidMStraub @jasonaebischerGIT Indeed, thanks for the clarification. Closing.

[2021-07-13 17:24] #72 closed

[2021-07-13 17:36] DavidMStraub commented on #72
Glad I could help :slightly_smiling_face:

[2021-07-28 11:33] fionq opened #74 "Sign flip in Wilson coefficient"
Dear authors of wilson,

I was computing the running of the operator 'phil1_12', when I noticed that the sign of the Wilson coefficient flips.
Here's a minimal code that reproduces the issue:

[code]

For C_in['phil1_12'] = 1e-6, I find C_out['phil1_12'] = -9.99996428366162e-07, which seems plausible, up to the sign.

I suspect this sign flip originates in a small imaginary part, which is introduc

[2021-07-29 12:13] peterstangl commented on #74
This issue looks like a duplicate of issue #63.

[2021-07-29 13:11] DavidMStraub commented on #74
Thanks for noticing @peterstangl, was about to explain the same thing 😉 IMO can be closed as duplicate.

[2021-07-29 13:24] jasonaebischerGIT commented on #74
Yes, I agree. Thanks @peterstangl !

[2021-07-29 16:39] fionq commented on #74
Ah thanks, hadn't spotted that one.

[2021-07-29 16:46] #74 closed

[2021-08-07 09:17] jasonaebischerGIT commented on #54
I am not sure anymore why we scale the dipole operators with the scale_C function in wet/rge.py, L103. Could the problem come form there?
At some point we decided to normalize these operators with these different normalizations, but now I am not sure if that is correct...

[2021-08-07 09:35] DavidMStraub commented on #54
I think it's to be able to use the analytical RGE solution formulas from AFGV when using the JMS basis instead of Bern as input. I am pretty sure we checked the old (Bern) implementation of WETrunner vs. the new one (based on JMS) at one loop, so it would be very surprising if there were a bug in there. It must be something specific to the leptonic dipole (which was not there in Bern).

[2021-08-07 09:46] jasonaebischerGIT commented on #54
Thanks @DavidMStraub , I think you are right. I remember that we normalized the dipoles in this way such that they are formally at the same order as the four-quark ones. I will still have another look whether everything is fine there, but most probably the issue lies in the leptonic ones.

[2021-08-09 17:22] klieret opened #75 "EFT WET not defined"
Hi @jasonaebischerGIT ,

since the latest release, ClusterKinG testing fails with:

[code]

see [here](https://github.com/clusterking/clusterking/runs/3282972248).

It's not apparent to me from the latest [release notes](https://github.com/wilson-eft/wilson/releases/tag/v2.2) that some breaking changes were introduces, so this looks like a bug in `wilson` to me.

Cheers,
Kilian

[2021-08-09 17:34] DavidMStraub commented on #75
Hi Kilian, you are right. It seems the new deploy pipeline (#73) generates a PyPI package that does not include the `wcxf/bases` git submodule.

@dvandyk @jasonaebischerGIT

[2021-08-09 17:38] DavidMStraub commented on #75
It does say `with: submodules: true` here https://github.com/wilson-eft/wilson/blob/master/.github/workflows/check%2Bdeploy.yaml#L14-L18, so no idea why that doesn't work...

[2021-08-09 17:47] klieret commented on #75
Hmm, according to the [log from the deploy](https://github.com/wilson-eft/wilson/runs/3277505501), the submodule was checked out

[2021-08-09 17:50] klieret opened #77 "coveralls isn't updated anymore"
This was probably done by travis-ci before. You can probably take a look at [my config here](https://github.com/clusterking/clusterking/blob/master/.github/workflows/testing.yaml) and adapt your gh action

[2021-08-09 19:04] dvandyk commented on #75
I upload a zip of all generated distributions as a Github Actions "artificat". For the new version, the artificat is
available here: https://github.com/wilson-eft/wilson/suites/3444819328/artifacts/81704384

Checking the tarball (wilson-2.2.tar.gz), I find that the bases are present!
Checking the wheel (wilson-2.2-py3-none-any.whl), I also find that the bases are present.

[2021-08-09 19:08] dvandyk commented on #75
So, I don't know who uploaded the release to PyPI, but it was not the new Github workflow.

a) There is only a single tarbal on PyPi but now wheel. However, the workflow built both.
b) There is no Github release, which triggers the upload to PyPI.
c) The workflow log does list the "upload to PyPI" step as no executed.

In short, not my fault!

[2021-08-09 19:14] DavidMStraub commented on #75
I think there is a problem with the workflow. It only triggers on pushes, but then checks for the presence of a tag. This will not work though when doing the usual thing on Github: pushing a final commit an then creating a release via the web interface.

I guess the workflow is missing something like

[code]
(please check, I'm just guessing.)

@jasonaebischerGIT, did you push the release to PyPI m

[2021-08-09 19:28] dvandyk commented on #75
Ah, my bad. I have a different workflow. I use
 - commit the version bump,
 - tag,
 - push the tag,
 - and then write the release on Github for an existing tag.

@DavidMStraub I will check your suggested fix.

[2021-08-10 05:11] jasonaebischerGIT commented on #75
@DavidMStraub  Yes, I pushed the release manually with twine. From your discussion I understand that this is not the right way to do it? I should it be done correctly?

[2021-08-11 11:28] DavidMStraub commented on #75
Hi, it used to be the right way to do it, but Danny's new workflow should in principle do it automatically (only that it didn't).

[2021-08-11 11:42] jasonaebischerGIT commented on #75
Mh, ok.

[2021-08-12 10:30] klieret commented on #75
I'm also a bit confused by your workflow. Do you really wish to release on every push?

Asides from how you release, it also pays off to put additional tests that install the released package and then run the unittests. This would also fail if you e.g., forget to bundle a data file in the package or something else goes wrong during the release.

I currently have the following [setup](https://githu

[2021-08-13 11:04] MJKirk commented on #75
Just to +1 this issue, the new wilson version also breaks new installs of `flavio` and `smelli`, so it would be good to get a fix.

[2021-08-13 11:08] klieret commented on #75
How about you simply [revoke the release](https://stackoverflow.com/questions/20403387/how-to-remove-a-package-from-pypi) for now?  This way it won't be automatically updated to.

[2021-08-13 16:20] dvandyk commented on #75
No, and the workflow doesn't do that. The step 'Upload to PyPI' is only run ``if: ${{ startsWith(github.ref, 'refs/tags/v') }}``,
i.e., if the tag starts with a ``v``.

I have little experience with Python unit tests. How do you force ``nose`` to run the tests "out of tree", as it were?
A quick google did not yield meaningful results, and I see that your example uses ``pytest`` instead.

Since we

[2021-08-13 16:25] #75 closed

[2021-08-16 09:43] klieret commented on #75
Oh, overlooked that :sweat_smile:

No, this would build the package once and then test it under different OS. This would for example catch issues when paths are hard coded with slashes (would fail on Windows) or other file name subtleties. Admittedly it's rare that this catches additional bugs. But it happened to me a couple of times with some OS dependent subleties.

Not an expert on `nose` unfor

[2021-08-16 13:59] DavidMStraub commented on #75
I'd recommend using pytest nowadays. nose is no longer being maintained, and nose2 is much less popular/active IMO.

[2021-08-18 12:12] dvandyk opened #79 "Github Workflow"
- [x] use ``pypa/gh-action-pypi-publish`` instead of manual upload via twine
 - [x] use PyPI access token
 - [x] check that the tag correspond to the version number recorded in the source code (suggest by @klieret)

[2021-08-18 12:16] klieret opened #80 "Fix updating of coveralls report"
Was previously done with travis. Can use the andremiras gh action

[2021-08-18 12:16] dvandyk opened #81 "Add PyPI maintainers/owners"
Dear @DavidMStraub,

@jasonaebischerGIT is not listed a owner of the wilson project on PyPI, i.e., he has now means to add further maintainers. Could you add any or all of

  - ``jaebischer``
  - ``klieret``
  - ``peterstangl``
  - ``dvandyk``

Cheers
Danny

[2021-08-18 12:17] klieret commented on #80
This should be up to date:

[2021-08-18 12:17] klieret commented on #79
Also fix #80

[2021-08-18 12:25] DavidMStraub commented on #81
Jason promoted to owner.

[2021-08-18 12:25] #81 closed

[2021-08-18 16:14] klieret commented on #79
I actually also think that we should at least test different python3 versions. It's easy to start using some py3.7 feature that isn't in 3.6 etc.

[2021-08-23 14:31] haolinli1991 opened #83 "The value of CKM matrix"
As far as I understand, when iteratively determine the SM parameters at the High scale (the scale one defined the SMEFT Wilson coefficients), the package uses the value of CKM matrix to fix the value of the Yukawa coupling of fermions at EW scale, which further influences the running of the Wilson coefficients in the SMEFT.

Assuming the whole iterative programme works, then how do the CKM in this

[2021-08-23 14:42] DavidMStraub commented on #83
This feature is beyond the scope of wilson, but is actually provided by smelli. @peterstangl

[2021-08-23 14:59] peterstangl commented on #83
@haolinli1991, an explanation of the problem and how it is addressed in [smelli](https://github.com/smelli/smelli) can be found in the following slides (starting from page 26): https://indico.in2p3.fr/event/18646/contributions/74406/attachments/54799/71956/straub-lyon-2019.pdf#12

[2021-08-23 15:10] peterstangl commented on #83
@DavidMStraub I was wondering already some time ago, if it might be better to implement this treatment of CKM in SMEFT in `wilson` instead of `smelli`. This would e.g. also make it possible to use it directly for the computation of predictions in `flavio`. In this case, `flavio` would just have to take the "NP-dependent CKM elements" from `wilson`. Is there actually some good reason for having thi

[2021-08-23 17:42] DavidMStraub commented on #83
One problem I can think of: it would make Wilson dependent on Flavio, which would create a circular dependency.

[2021-08-23 17:43] DavidMStraub commented on #83
It could also be contemplated to merge Wilson, Flavio, and smelli altogether :)

[2021-08-24 09:05] haolinli1991 commented on #83
Thanks a lot! This should be what I am finding

[2021-09-09 13:59] haolinli1991 commented on #83
@DavidMStraub @peterstangl ,
Sorry guys I have an additional question to bother you.
Regarding to the matching procedure and the convention in the flavio basis, what was the value of the CKM matrix elements used in the flavio basis in WET? For example, there is a Vud present in the definition of the operator:
![image](https://user-images.githubusercontent.com/31523710/132696994-7f373897-02a5-4a1e-

[2021-09-27 10:18] #79 closed

[2021-09-28 10:41] fionq commented on #54
Hi! Same issue here:
`
from wilson import Wilson
WilsonInst = Wilson({'Cgamma_mue': 1}, scale=100, eft='WET', basis='flavio')
wc = WilsonInst.match_run(scale=1, eft='WET', basis='flavio')
wc
`
returns 0.493866 at the low scale. This jump happens in scale_C of wilson/run/wet/rge.py.

[2021-10-01 15:47] peterstangl commented on #83
@haolinli1991, sorry for the late reply. The CKM elements that appear in definitions of EFT operators are actually not fixed. If an EFT operator has a prefactor, this means that this prefactor will appear in the expressions that yield the observable predictions. And the parameter values entering this prefactor can be modified by the user.
By default `flavio` uses `flavio.default_parameters`, i.e.

[2021-10-08 11:15] DavidMStraub opened #88 "Add list of maintainers to README"
Please update the list of maintainers.

[2021-10-08 14:50] jasonaebischerGIT commented on #54
I am confused about the order of the operators in the ADMs adm_s_dF0 and adm_e_dF0 in L2027 and L1701 of run/wet/adm.py. Is it the same as suggested on p. 35 of https://wcxf.github.io/assets/pdf/WET.JMS.pdf ? Because then the egamma_22 would have a QCD but no QED running....

[2021-10-08 15:18] jasonaebischerGIT commented on #54
thanks a lot. Let me check!

[2021-10-08 16:23] jackypheno commented on #55
@jasonaebischerGIT

Looks like its an issue related to the size of WCs, for `lequ1_2233` I get sensible output for

'wc_in = Wilson({'lequ1_2233':1e-6}, 160, 'SMEFT', 'Warsaw')
wc = wc_in.match_run(60, 'SMEFT', 'Warsaw')
print(wc.dict['lequ1_2233'])'

`(1.0333888075747854e-06+2.115327309804727e-18j)`

But the moment we change the initial condition to `1e-5` it gives

`(-1.498326492711292e-11-1.395

[2021-10-09 07:04] DavidMStraub commented on #54
Yes, JMS

[2021-10-29 15:55] MJKirk opened #89 "Difference in SMEFT-WET matching between v2 and v1"
I've found a change in the matching results wilson gives between `v1.8` and `v2.0` (I think the v1 results are correct, and v2 is wrong).
In `wilson v1.8`:
Setting the initial conditions `phiq3_12 = 1e-8`  @ 100 GeV, then matching to the WET (in the flavio basis, at the same scale) gives `CVLL_ucuc = -2.47e-12`.
In `wilson v2.0`:
The same thing gives a result of `CVLL_ucuc = -1.77e-19`, so 10^7 sm

[2021-11-02 09:31] MJKirk commented on #89
I assume you mean 1-loop (unless wilson is secretly much better than announced!).
I believe the default is tree matching, but I have explicitly called `wilson.Wilson.set_default_option('smeft_matching_order', 0)`
at the beginning to make sure and the results are the same.

[2021-11-02 16:06] jackypheno commented on #54
@jasonaebischerGIT @DavidMStraub  Two things:

First I confirm that the (317,317) entry in adm_s_dF0 is non-zero which looks like an error. But even if I set this entry to zero, the problem seems to persist!

Second, I am confused why leptonic Wilson coefficients are rescaled by g^2/e/m?  In Bern basis, this scaling was used for the quark dipole operators. Playing with this scaling, e.g. setting i

[2021-11-02 17:05] jackypheno commented on #89
@MJKirk

I believe @DavidMStraub meant 1-loop SMEFT-WET matching only.

What SMEFT basis did you use for matching CVLL_ucuc?

I think this matching (12 psi^2phi^2 D type SMEFT WCs in the Warsaw-down basis to sdsd WCs in WET) requires two insertions of SMEFT operators which I do not think is implemented in wilson.  But the non-zero result that you are getting might be due to the running of SMEFT Wi

[2021-11-03 10:42] MJKirk commented on #89
I am matching from `SMEFT Warsaw` to `WET flavio`

Ah good point, for some reason (that reason being I didn't check carefully), I assumed just setting the scales equal would be enough to prevent running.
Setting the scale to MZ to avoid this, the `ucuc` coefficients are exactly 0 in `v2`, while `phiq3_12` gives a non-zero but tiny (10^-23) value for `sdsd`.

Reading both papers, at the end of Sec

[2021-11-03 10:53] MJKirk commented on #89
And I see now that in the test David wrote when he updated the matching:
https://github.com/wilson-eft/wilson/blob/1686d08487881fe692f9d3c69b90dbcc16ba44c8/wilson/match/test_smeft_tree_new.py#L46-L54
the different treatment of quadratic terms was allowed for, so I think it is safe to say this is resolved.

[2021-11-03 10:53] #89 closed

[2021-11-03 11:30] dvandyk commented on #89
@MJKirk thanks for such an in-depth check! I would argue that, in general, the quadratic terms must be dropped.
The power counting is not the right argument, though. Much more importantly, double insertions of dim-6 SMEFT operators are in general not finite, and you will need dim-8 counter terms. While in specific cases this might be avoidable, e.g., when you cannot write down a dim-8 term for som

[2021-11-18 08:57] jasonaebischerGIT commented on #54
@jackypheno Yes, I agree. Switching off the QCD ADM and removing g**2 leads to the correct result.
Let's look at the ADM next.

[2021-11-25 05:12] Yong-Du opened #90 "different options for `smeft_accuracy` result in very different results after running"
Hi,

I was trying to use the `wilson` package for running some Wilson coefficients from the mZ scale up to 1TeV, but I got very different results (differ by ~1e12) when choosing different options for `smeft_accuracy`. I tried other operators (like `phiD`) as well, but got similar discrepancy. Since I do not expect the RGEs for the Wilson coefficients or the SM parameters to be stiff, I would agree

[2021-11-25 07:31] DavidMStraub commented on #90
Hi,

I haven't looked at your specific example, but in general this is something that is to be expected if the mixing of Wilson coefficient B into Wilson coefficient A is zero in leading-log approximation. Note also that the numerical value for the Wilson coefficient you are choosing is physically meaningless as 1/GeV² invalidates the EFT expansion.

[2021-11-26 01:49] Yong-Du commented on #90
Hi,

I get it now, thank you for the comment.

Best,
Yong

[2021-11-26 01:49] #90 closed

[2021-12-20 18:45] girishky opened #91 "Running of CVLR and CSLR in Bq-mixing"
Hello,
In `sbsb` operator basis, `CVLR_bsbs` and `CSLR_bsbs` mix during QCD running.
Executing the following

[code]

yield,
```CVLR_bsbs = 0.91, CSLR_bsbs= -0.82```

But, if start with:
[code]

I get,
```CSLR_bsbs = 2.142085e+00, CVLR_bsbs = 5.551115e-17```
I am doubtful of **negligible CVLR** in this case.

I cross-checked the above running case using results of [hep-ph/0112303](https://arxiv.or

[2021-12-20 19:08] DavidMStraub commented on #91
The ADM matrix in the SLR, VLR basis should have a form like `[[*, 0], [*, *]]`, so they do mix, but only in one direction, if you know what I mean. If you carefully check the basis transformations, I'm pretty sure you'll find Wilson is correct.

[2021-12-21 05:56] girishky commented on #91
Dear David,
Thanks for the quick response. You are correct. I also checked evolution matrices of the concerning operators given in [1704.06639](https://arxiv.org/abs/1704.06639), finding agreement with what you said (and Wilson).
Somehow, [hep-ph/0112303](https://arxiv.org/abs/hep-ph/0112303v1) results indicate mixing in these two operators in both direction. Note that B-mixing operator basis is e

[2021-12-22 11:18] MJKirk commented on #91
To jump in: regarding the mixing between CVLR and CSLR, the difference is because wilson only includes the 1-loop ADMs, while hep-ph/0112303 includes the NLO ADMs (which come from 2-loop diagrams) and at this order the ADM matrix structure David described is broken.

[2022-01-04 10:44] girishky commented on #91
@MJKirk the response much appreciated. Silly enough, I did not realize hep-ph/0112303 includes NLO. This solves my issue. Thanks again. I will close this now.
Happy new year everyone!

[2022-01-04 10:44] #91 closed

[2022-02-09 10:58] mdgoodsell commented on #54
So is this issue fixed or close to being fixed now? I haven't seen an update to the public code, but maybe this:

https://github.com/wilson-eft/wilson/pull/92

is related and you are working on it?

[2022-02-09 11:26] jackypheno commented on #54
@mdgoodsell Yes its work in progress. We in process of implementing a brand new LEFT beta functions and their solutions based on https://arxiv.org/abs/1711.05270. Yes its partly related to #92  as well.

[2022-02-22 16:36] MJKirk opened #95 "Problem with 1-loop matching onto Cegamma"
I believe there is a bug in the 1-loop matching onto the LEFT coefficient egamma.
A complete example is
[code]
which gives a value for `egamma_12` of about -4.5e-13. This value is sufficiently large to almost exceed the experimental bound on BR(mu->egamma) (a bound from LFV observables in smelli is how I picked this up).
Since I'm pretty confidant there is no way at purely quark coefficient (and a

[2022-02-22 16:47] MJKirk commented on #95
Oh, I forgot to mention. I did check this matching with the original notebooks from the  Dekens & Stoffer paper, and indeed `egamma` has some matching terms proportional to `phiD` and they go as delta_ij me_i, so the "corrected" code make sense.

[2022-05-23 10:26] micha-a-schmidt opened #96 "Problem with matching of C_qe from Warsaw to JMS basis"
There is a problem with the matching of the Wilson coefficient C_{qe}. When matching to weak effective theory, the mixing matrices for up and down-type quarks drop out, since
(Qbar \gamma^\mu Q_L) (ebar \gamma_\mu e_R) = (ubar \gamma^\mu u_L) (ebar \gamma_\mu e_R) + (dbar \gamma^\mu d_L) (ebar \gamma_\mu e_R) , but there are off-diagonal entries in the result of Wilson. See [Matching_Cqe_Warsaw_JM

[2022-05-23 10:39] DavidMStraub commented on #96
Can you try with `Warsaw up` as input basis?

[2022-05-23 10:47] micha-a-schmidt commented on #96
Thanks for the quick reply!
There are also off-diagonal entries. This time for down-type quarks.
[Matching_Cqe_Warsaw_up_JMS.pdf](https://github.com/wilson-eft/wilson/files/8753880/Matching_Cqe_Warsaw_up_JMS.pdf).

[2022-05-25 03:30] micha-a-schmidt commented on #96
The result in Wilson is correct. The CKM matrix only drops out if the SMEFT Wilson coefficient is proportional to the identity in the quark flavours.

[2022-05-25 03:30] #96 closed

[2022-06-11 13:06] peterstangl commented on #54
This issue has been fixed in PR #97. The bug fix is included in wilson v2.3.

[2022-06-11 13:06] #54 closed

[2022-06-11 13:13] peterstangl opened #98 "Upload of wilson v2.3 to PyPI"
@jasonaebischerGIT  @dvandyk @klieret @DavidMStraub I just released wilson v2.3 but the upload to PyPI didn't work and I realized that only you are PyPI maintainers of wilson. It would be nice if one of you could upload the latest release to PyPI.

[2022-06-11 13:15] DavidMStraub commented on #98
Hi, why did the workflow fail?

[2022-06-11 13:21] peterstangl commented on #98
I thought it didn't work since I'm not a maintainer on PyPI, but actually it seems that the workflow was not triggered at all by the new release and I don't know why.

[2022-06-11 13:23] DavidMStraub commented on #98
Looking into it. It did run but this IF
https://github.com/wilson-eft/wilson/blob/master/.github/workflows/check%2Bdeploy.yaml#L72
evaluated to false. Offending line added by @dvandyk  in https://github.com/wilson-eft/wilson/commit/3660307a5db98a5ba39fad9bf04080d7c3462fcb.

[2022-06-11 13:30] DavidMStraub commented on #98
Uploaded to PyPI, but the workflow should be fixed.

[2022-06-11 13:33] peterstangl commented on #98
Where do see this? I don't see any workflow run for the release at all. The last workflow run I see is from the commit that changed the version number and there this IF in https://github.com/wilson-eft/wilson/blob/master/.github/workflows/check%2Bdeploy.yaml#L72 evaluates to false since it was a commit and not a release that has triggered the event. Were you looking at that one?

[2022-06-11 13:39] dvandyk commented on #98
Hi @DavidMStraub, this line is correct, since it prohibits deployment on all events except a ``release`` event.
@peterstangl is right, there should be another workflow appear in the list, triggered by a ``release`` event. Looking into it.

[2022-06-11 13:42] dvandyk commented on #98
And here we go... I used the wrong event type:
[code]
Here https://github.com/wilson-eft/wilson/blob/bf8cf0d43b7023ff87649eb2d50245b0106b8847/.github/workflows/check%2Bdeploy.yaml#L8
it should read ``[published]``.

[2022-06-11 13:44] peterstangl commented on #98
@dvandyk indeed, I first drafted the release before publishing it. So I actually never "created" it and thus the workflow was not triggered.

[2022-06-11 14:10] dvandyk commented on #98
PR #99 should fix this issue, and another that I noticed while reading the Github Actions documentation.

[2022-06-11 14:24] peterstangl commented on #98
Fixed by @DavidMStraub uploading the release and @dvandyk fixing the workflow in #99.

[2022-06-11 14:24] #98 closed

[2022-06-11 14:33] #83 closed

[2022-06-11 15:18] peterstangl commented on #95
@MJKirk thank you for reporting this! It indeed looks like a bug. Now that issue #55 is fixed, @jasonaebischerGIT and me want to cross check the full one-loop matching. In the meantime, would you like to provide your solution to fix this bug as a PR?
Btw., I noticed that in addition to `einsum("p,r",one,me)` in `egamma`, also `einsum("p,r",one,mu)` appears in `uG` and `ugamma` and comparing with t

[2022-06-11 15:22] peterstangl commented on #55
@jackypheno did you actually find out if the results was just due to a change of the flavour basis or if there is actually an issue?

[2022-06-11 15:27] peterstangl commented on #55
I changed the label since it is not clear that this is actually a bug.

[2022-06-20 21:48] peterstangl commented on #95
This issue has been fixed by @MJKirk in PR #100. The bug fix is included in wilson v2.3.1.

[2022-06-20 21:48] #95 closed

[2022-06-20 22:19] peterstangl opened #101 "GitHub Actions workflow fails on release"
The shell script that should verify that the release version matches the source code version throws an error and exits due to missing dependencies when importing the version number from `wilson` (`ModuleNotFoundError: No module named 'numpy'`, see https://github.com/wilson-eft/wilson/commit/fd909c354d3c464e1486f2c2ef481e98297c1487/checks/6974469608/logs).

@dvandyk, @jasonaebischerGIT, @klieret, @

[2022-06-20 22:40] peterstangl commented on #101
The issue has been fixed in PR #102 and I was able to upload the new version to PyPI by re-publishing the release.

[2022-06-20 22:40] #101 closed

[2022-06-21 05:25] dvandyk commented on #101
Oh boy, sorry for that. While the workflow is hard to test, this I should have noticed.

[2022-06-29 13:27] peterstangl opened #103 "Wrong arguments in translators"
In the definitions of the translators in [`wilson/translate/__init__.py`](https://github.com/wilson-eft/wilson/blob/6879cb3a55a5fa509321d067962debc21f021703/wilson/translate/__init__.py), in several functions the value of `sectors` is used as input for the argument `parameters`, like e.g. in
https://github.com/wilson-eft/wilson/blob/6879cb3a55a5fa509321d067962debc21f021703/wilson/translate/__init_

[2022-06-29 13:30] DavidMStraub commented on #103
Oh. Lesson: never use positional args.

[2022-10-26 08:58] MJKirk opened #105 "Matrix valued coefficients as input to Wilson"
When matching from a UV theory onto the SMEFT, often one gets pretty simple generic formulas for the SMEFT coefficients. As an example, take this from the wilson paper (bottom of page 9)
![image](https://user-images.githubusercontent.com/35800961/197978890-2b10d120-7b68-41c7-862e-c0da45d0571d.png)
But actually typing out all the coefficients is tedious and error prone. Again from there, you give t

[2022-10-26 17:06] peterstangl commented on #105
Except for a small typo, I think your example should do the correct thing. However, if you want to use redundant arrays as input, you might want to check that they have been actually properly symmetrized. E.g. one could use a function like
[code]
We could think about including such a function in a `Wilson.from_C_arrays` class method that would work similar to `Wilson.from_wc`. We just might have t

[2022-10-27 08:11] MJKirk commented on #105
Thanks Peter!
As a physics point, regarding the symmetry check, assuming I'm taking my expressions from some UV matching, this is just a check against typos right? Matching should give you things with the right symmetries?

For the code, my quick opinion is that a `Wilson.from_C_arrays` class method would be clearer, as it keeps the standard that Wilson only takes the non-redundant inputs, and tha

[2022-10-28 10:59] DavidMStraub commented on #105
I agree that correct symmetrization must definitely be checked when allowing non-redundant input. Even if correct matching should give you the correctly symmetrized WCs, it's something to easily get wrong and it would lead to weird and hard to debug errors.

I advise against switching between assuming redundant and non-redundant conventions based on user input. This is prone to lead to unintended

[2022-11-01 09:21] deadlinerJ opened #107 "LEFT Running Only Returns QED Part?"
Hi,

I am using the LEFT running from Mz to b quark mass. The code is done in "flavio" basis. To simplify the issue I encountered, a simplified code is shown below.

<img width="810" alt="Screen Shot 2022-11-01 at 5 04 12 PM" src="https://user-images.githubusercontent.com/52406097/199199227-ff2ca152-52e2-411d-bb8e-65a599a981b1.png">

Only CSR_bctaunutau and CS_bstautau are turned on. The change of

[2022-11-01 10:55] MJKirk commented on #105
An update from real world testing - the `np.all(C_arr_sym[k] == v)` check often fails due to tiny numerical errors.
I've replaced the check with `np.allclose(C_arr_sym[k], v, atol=0)` and now things are working.

[2022-11-01 11:50] DavidMStraub commented on #107
If you look at [the basis](https://wcxf.github.io/assets/pdf/WET.flavio.pdf), you'll notice that the scalar operator in the charged current case is defined without a mass factor, while the neutral current one has a mass factor included. Consequently, the QCD part of the b->s operator is a conserved current and you're seeing only QED running. For the b->c operator, the Wilson coefficient renormaliz

[2022-11-01 12:12] MJKirk commented on #105
Spoke a little too soon, sometimes I get differences that are relatively big, but absolutely small, e.g. `3e-31` vs `1e-31`. Since the rest of the array has much larger values (order `1e-10`), I would guess this is just more floating point errors creeping in.
So the comparison is not trivial.

[2022-11-01 14:01] peterstangl commented on #105
I'm a bit surprised that you get such big relative differences when going to the non-redundant description and then back to the symmetrized one. Do you get this only in cases where the value is actually zero up to numerical uncertainties? Can you maybe provide an example for which you get such results?

[2022-11-01 16:05] MJKirk commented on #105
No, the example I found was for a non-zero WC (albeit very small, as it suppressed by a bunch of CKM factors and the charm mass). Here's a simplified version of my code
[code]
The only "wrong" element is the C_1132, which I print.
With `vckm1` (what I was using), you get the factor two I gave earlier. But if you use the other CKM values (which as this code demonstrates are different by tiny factor

[2022-11-01 16:39] MJKirk commented on #105
Okay, on further investigation, in this particular case, with only a first gen NP coupling (my `xi` vector), the analytic expression for C_1132 can be simplified and is exactly zero (through the unitarity of the CKM matrix). So in my above code, the tiny differences between `vckm1` (more precise) and `vckm2` (less precise) are breaking GIM cancellation.

[2022-11-06 09:55] deadlinerJ commented on #107
Exactly. The neutral scalar operator in 1704 doesn't have such a mass factor but the one in flavio basis does. Thank you very much!